.rooms-page {
  .landing-page {
    &__img {
      display: block;
      height: 250px;
      width: 100%;
      object-fit: cover;
    }

    &__header {
      text-transform: uppercase;
      font-size: 24px;
      text-align: center;
      margin: 40px 0 50px;
    }
    &__parg {
      width: 75%;
      margin: auto;
      margin-bottom: 20px;
      text-align: center;
      text-transform: capitalize;
    }
    &__link-container {
      text-align: center;
      :first-child {
        margin-top: 30px;
        background-color: $primary;
      }
    }
    &__link {
      text-transform: uppercase;
      margin-bottom: 20px;
    }
  }
  @media (min-width: 750px) {
    .landing-page {
      &__img {
        height: 75vh;
        width: 50%;
      }
      &__header {
        margin: 100px 0 70px;
      }
      &__link-container {
        width: 75%;
        margin: 70px auto 0;
        @include flex(row-reverse, center, center);
        :first-child {
          margin: 0 0 0 40px;
          width: 50%;
        }
      }
      &__link {
        margin: 0;
        width: 30%;
      }
    }
  }
  .rooms-container {
    &__filter {
      max-width: 450px;
      padding: 20px 0;
      width: 85%;
      margin: auto;
    }
    &__date {
      span {
        text-transform: uppercase;
        font-weight: 600;
        margin-right: 10px;
      }
    }

    &__btn {
      color: #000;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 700;
    }
    &__wrapper {
      width: 85%;
      max-width: 450px;
      margin: auto;
      text-align: center;
      text-transform: uppercase;
    }
    &__room {
      margin-bottom: 50px;
      background-color: $light;
    }
    &__img {
      height: 150px;
      width: 100%;
      object-fit: cover;
    }
    &__header {
      margin: 30px 0;
      font-size: 18px;
      font-weight: 400;
    }
    &__parg {
      margin: 6px 0;
      font-size: 14px;
    }
    &__link {
      display: inline-block;
      margin: 40px 0 50px;
      background-color: $primary;
    }
  }
  @media (min-width: 750px) {
    .rooms-container {
      &__filter {
        max-width: 1250px;
      }
      &__wrapper {
        margin-top: 40px;
        max-width: 1250px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 40px;
      }
      &__room {
        margin-bottom: 0px;
      }
      &__img {
        height: 200px;
      }
      &__header {
        margin: 40px;
      }
    }
  }
}
