<main class="amenities-page">
{{> includes/hero 
    img = "/693.jpg"
    header = "Amenities"
    parg = "With a focus on all the comforts of home, GuestHouse provides a relaxed space where guests can feel right at home the minute they walk through our doors."
    parg-below = "Here is what We are Known for"

}}
<div class="amenities-page__container">
    <h1 class="amenities-page__header">Amenities</h1>
    <div class="amenities-page__card-container">
        <div class="amenities-page__card">
            <i class="fas fa-wifi"></i>
            <p class="amenities-page__card-header">wifi</p>
            <p class="amenities-page__parg">free 24/7</p>
            <p class="amenities-page__parg">fast and reliable</p>
        </div>
        <div class="amenities-page__card">
            <i class="fas fa-wifi"></i>
            <p class="amenities-page__card-header">wifi</p>
            <p class="amenities-page__parg">wifi</p>
            <p class="amenities-page__parg">fast and reliable</p>
        </div><div class="amenities-page__card">
            <i class="fas fa-wifi"></i>
            <p class="amenities-page__card-header">wifi</p>
            <p class="amenities-page__parg">wifi</p>
            <p class="amenities-page__parg">fast and reliable</p>
        </div><div class="amenities-page__card">
            <i class="fas fa-wifi"></i>
            <p class="amenities-page__card-header">wifi</p>
            <p class="amenities-page__parg">wifi</p>
            <p class="amenities-page__parg">fast and reliable</p>
        </div><div class="amenities-page__card">
            <i class="fas fa-wifi"></i>
            <p class="amenities-page__card-header">wifi</p>
            <p class="amenities-page__parg">wifi</p>
            <p class="amenities-page__parg">fast and reliable</p>
        </div><div class="amenities-page__card">
            <i class="fas fa-wifi"></i>
            <p class="amenities-page__card-header">wifi</p>
            <p class="amenities-page__parg">wifi</p>
            <p class="amenities-page__parg">fast and reliable</p>
        </div><div class="amenities-page__card">
            <i class="fas fa-wifi"></i>
            <p class="amenities-page__card-header">wifi</p>
            <p class="amenities-page__parg">wifi</p>
            <p class="amenities-page__parg">fast and reliable</p>
        </div><div class="amenities-page__card">
            <i class="fas fa-wifi"></i>
            <p class="amenities-page__card-header">wifi</p>
            <p class="amenities-page__parg">wifi</p>
            <p class="amenities-page__parg">fast and reliable</p>
        </div><div class="amenities-page__card">
            <i class="fas fa-wifi"></i>
            <p class="amenities-page__card-header">wifi</p>
            <p class="amenities-page__parg">wifi</p>
            <p class="amenities-page__parg">fast and reliable</p>
        </div>
    </div>
</div>
</main>