<main class="gallery-page">
{{> includes/hero 
    img = "gallery/850.jpg"
    header = "Gallery"
    parg = "Equipped with all the necessary facilities from high standard bed- rooms to personalized kitchen and family rooms, our service cater to all customer segments from a traveling individual to ex-pats and families."
    parg-below = "Home Away From Home"

}}
<div class="gallery-page__container">
  <h1 class="gallery-page__header">gallery</h1>
  <div class="gallery-page__img-container">
   <div><img src="/assets/gallery/747.jpg" alt="IMAGE" srcset=""></div>
   <div><img src="/assets/gallery/920.jpg" alt="IMAGE" srcset=""></div>
   <div><img src="/assets/gallery/921.jpg" alt="IMAGE" srcset=""></div>
   <div><img src="/assets/gallery/922.jpg" alt="IMAGE" srcset=""></div>
   <div><img src="/assets/gallery/923.jpg" alt="IMAGE" srcset=""></div>
   <div><img src="/assets/gallery/926.jpg" alt="IMAGE" srcset=""></div>
   <div><img src="/assets/gallery/936.jpg" alt="IMAGE" srcset=""></div>
   <div><img src="/assets/gallery/850.jpg" alt="IMAGE" srcset=""></div>
   <div><img src="/assets/gallery/921.jpg" alt="IMAGE" srcset=""></div>
   <div><img src="/assets/gallery/923.jpg" alt="IMAGE" srcset=""></div>
  </div>
  <div class="gallery-page__img-container">
    <div><img src="/assets/gallery/747.jpg" alt="IMAGE" srcset=""></div>
    <div><img src="/assets/gallery/920.jpg" alt="IMAGE" srcset=""></div>
    <div><img src="/assets/gallery/921.jpg" alt="IMAGE" srcset=""></div>
    <div><img src="/assets/gallery/922.jpg" alt="IMAGE" srcset=""></div>
    <div><img src="/assets/gallery/923.jpg" alt="IMAGE" srcset=""></div>
    <div><img src="/assets/gallery/926.jpg" alt="IMAGE" srcset=""></div>
    <div><img src="/assets/gallery/936.jpg" alt="IMAGE" srcset=""></div>
    <div><img src="/assets/gallery/850.jpg" alt="IMAGE" srcset=""></div>
    <div><img src="/assets/gallery/921.jpg" alt="IMAGE" srcset=""></div>
    <div><img src="/assets/gallery/923.jpg" alt="IMAGE" srcset=""></div>
  </div>
</div>
</main>