<footer class="footer">
        <div class="social">
          <ul class="footer__list">
            <li>
              <a href="" class="footer__link"
                ><i class="fab fa-facebook-f"></i
              ></a>
            </li>
            <li>
              <a href="" class="footer__link"
                ><i class="fab fa-telegram-plane"></i
              ></a>
            </li>
            <li>
              <a href="" class="footer__link"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="" class="footer__link"
                ><i class="fab fa-google-plus-g"></i
              ></a>
            </li>
            <li>
              <a href="" class="footer__link"><i class="fab fa-flickr"></i></a>
            </li>
            <li>
              <a href="" class="footer__link"
                ><i class="fab fa-tripadvisor"></i
              ></a>
            </li>
          </ul>
        </div>
        <p class="footer__parg">Powered By endubis, Hosted By endubis HOST</p>
        <p class="footer__copyright">
          Copyright &copy; 2020 KEBRON GUEST HOUSE,
        </p>
      </footer>