    <section class="hero__landing-page">
        <img src="/assets/{{img}}" class="landing-page__img" alt="IMAGES" srcset="">
        <div class="landing-page__container">
            <h1 class="landing-page__header">{{header}}</h1>
            <p class="landing-page__parg">{{parg}}</p>
            <p class="landing-page__parg">{{parg-below}}</p>
            <div class="landing-page__link-container">
                <a href="/" class="primary-btn landing-page__link">book now</a>
                <a href="/contact" class="primary-btn landing-page__link">contact</a>
            </div>
        </div>
    </section>